
* {
  margin:0;
    padding: 0;
    color: whitesmoke;
    text-decoration: none;
}

body{
    background-color: black;
}
.spooky{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom:30px;
    position: fixed;
    background-color: black;
    height:30px;
    width: 100%;
    box-shadow: 0 1px 15px #C83E4D ;
    border-radius: 10;
}


.fantomebackground{
    background-color: #C83E4D;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 10%;
    
}

.fantome2{
    width: 10%;
    margin-top: 15vh;
}

p{
    font-size: 24px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    margin-top: 100px;
}

.Home {
    padding: 50px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    font-family: 'Pathway Gothic One', sans-serif;

}

.titre a {
    text-decoration: none;
    color: whitesmoke;
}

.Mom {
background: url(/img/isaac-repentance-quickie-mother-une-jeuvideo.jpeg);
background-size: 120%;
padding: 50px 10%;
background-repeat: no-repeat;
padding-left: 350px;

}


.Hannibal {
    background: url(/img/p6MezjrHnrgP1li5YxomRBFdKnp.jpeg);
    background-repeat: no-repeat;
    background-size: 40%;
    padding: 50px 10%;
    padding-left: 350px ;
}
.Home .Mom p{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}
.Mom:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.Hannibal:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

footer { 
    color: whitesmoke;
    font-family: 'Pathway Gothic One', sans-serif;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center; 
}
.footer_elements {
padding: 200px 10%;

}
.hover:hover {
    color: #C83E4D;
}


.audio {
    display: flex;
    gap: 200px;
}

