/* font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body{
    background-color: black;
}
.spooky{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    color: whitesmoke;
  
}
.spooky a {
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom:30px;
    position: fixed;
    background-color: black;
    height:30px;
    width: 100%;
    box-shadow: 0 1px 15px #C83E4D ;
    border-radius: 10;
    
}

section{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;

}

.vide{
    height: 150px;

}
.Hannibal{
    font-family:'Pathway Gothic One', sans-serif ;
    font-size: 70px;
    color:#C83E4D ;
    display: flex;
    justify-content: center;
}

.flex-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 100px;
    
}

.hannibal-portrait{
    border-radius: 10%;

}

ul{
    list-style-type: none ;
   line-height: 1.5em;
   font-family:'Roboto',sans-serif; 
   font-size: 15px;
}

h2{
    font-size: 30px;
    font-family: 'Pathway Gothic One', sans-serif ; 
    line-height: 2em;
    text-decoration: underline;
}

.gras{
    font-weight: bold;
}

.films-texte{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding-top: 30px;

}

.film{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap :30px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    width:min-content;
    text-align: center;

}