body {
    padding: 50px 10%;
    background-color: black;
}

h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.card {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo_id {
    padding: 50px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: inset;
    
}
img {
    width: 200px; 
 }
 
 
.description_id ul {
    color: white;
    list-style-type:circle ;
    font-family: 'Roboto', sans-serif;

}

.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-size: 30px;

}



.Mom {
background: url(/img/isaac-repentance-quickie-mother-une-jeuvideo.jpeg);
background-size: 120%;
padding: 40px 10%;
background-repeat: no-repeat;
padding-left: 350px;

}


.Hannibal {
    background: url(/img/p6MezjrHnrgP1li5YxomRBFdKnp.jpeg);
    background-repeat: no-repeat;
    background-size: 40%;
    padding: 50px 10%;
    padding-left: 350px ;
}
.Home .Mom p{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}
.Mom:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.Hannibal:hover {
    transform: scale(1.2);
    transition: 0.4s;
}