* {
    margin: 0;
    padding: 0;
    color: #C3C1C1;
}


.spooky{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
  
}
.spooky a {
    text-decoration: none;

}

body {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom:30px;
    position: fixed;
    background-color: black;
    height:30px;
    width: 100%;
    box-shadow: 0 1px 15px #C83E4D ;
    border-radius: 10;
    
}

h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #ffffff;
    font-size: 40px;
    text-align: center ;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #C3C1C1;
}

.card_mom {
    padding: 50px 10%;
    padding-top: 200px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.card_isaac {
    padding: 50px 10%;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.photo_id2 img {
    width: 150px;
}
 

.description_id ul {
    color: #8c8c8c;
    list-style-type:none ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

.description_id2 ul {
    color: #8c8c8c;
    list-style-type:none ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

span {
font-size: 16px;
color: #ffffff;
}

.Mom_parties{
    display: flex;
justify-content: space-between;
    flex-direction: row;
    gap:20px;
    padding: 50px 10%;
}

.parties{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap :30px;
    text-align: center;
    border: 1px solid;
    padding: 25px;
    border-radius: 20px;

}
.invocations {
    margin-left: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    border: #C83E4D solid 1px;
    gap: 50px;

}

.monster1 {
display: flex;
flex-direction: row;
gap: 20px;

}

.monster1 img {
    width: 50px;
}

.monster2 {
display: flex;
flex-direction: row;
gap: 20px;
}

.monster2 img {
    width: 50px;
}

.histoire p {
    padding: 50px 10%;
    text-align: center;
    color: #C3C1C1;
    line-height: 200%;
    padding-bottom: 100px;

}
    
.items img {
    width: 350px;
    margin: 20px;


}
.items {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    border: #C83E4D solid;
    border-width: 1px;
}

.défense {
    padding: 50px 10%;
    display: flex;
    gap: 40px;
    line-height: 1.8;
    align-items: center;
}

footer { 
    color: whitesmoke;
    font-family: 'Pathway Gothic One', sans-serif;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center; 
}
.footer_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 200px 10%;
}

.hover:hover {
    color: #C83E4D;
}

.hover {
    display: flex;
    color: whitesmoke;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
}